<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
  <targets>
    <target name="target1" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${logger}|${message}">
      <highlight-row condition="true" foregroundColor="red"/>
    </target>
    <target name="target2" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${logger}|${message}">
      <highlight-row condition="true" foregroundColor="green"/>
    </target>
    <target name="target3" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${logger}|${message}">
      <highlight-row condition="true" foregroundColor="yellow"/>
    </target>
  </targets>

  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="Logs.txt" />
  </targets>


  <rules>
    <logger name="*" level="Info" writeTo="target2,logfile" />
    <logger name="*" level="Warn" writeTo="target3,logfile" />
    <logger name="*" minLevel="Error" writeTo="target1,logfile" />
  </rules>
</nlog>