@using WebUI.Helpers
<Modal @ref="@_modalRef">
    <ModalContent>
        <ModalHeader>
            <h4 class="modal-title">Состояние пользователя</h4>
            <CloseButton To="/users" Class="btn-sm" Clicked=@(() => Close()) />
        </ModalHeader>
        <ModalBody>
            <EditForm Model="@_model">
                <EditDouble Name="Баланс" @bind-Value="_model.Balance" />
            </EditForm>
        </ModalBody>
        <ModalFooter>
            <button type="submit" class="btn btn-outline-primary" @onclick="@(async () => await SaveAsync())">Сохранить</button>
            <button type="button" class="btn btn-outline-secondary" @onclick="@Close">Отмена</button>
        </ModalFooter>
    </ModalContent>
</Modal>
