<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<extensions>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>

	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="fileLog" fileName="Logs.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="ColoredConsole" encoding="utf-8" name="console" useDefaultRowHighlightingRules="true"
				 layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
			<target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="${environment:SEQ_API_KEY}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console, fileLog, seq" />
	</rules>
</nlog>